.contents
  .contents__area
    .contents__area__posts
      .contents__area__posts--text text
      %ul.contents__area__posts__field
        %li.contents__area__posts__field--name name
        %li.contents__area__posts__field--time time
    .contents__area__posts
      .contents__area__posts--text hoge
      %ul.contents__area__posts__field
        %li.contents__area__posts__field--name hovar-man
        %li.contents__area__posts__field--time 03/08/'20 18:00:00