.header
  .header__wrapper
    %h1.header__wrapper__logo Homework App
    %ul.header__wrapper__user-status
      %li
        =link_to "#", class: "header__wrapper__user-status--name" do
          新規登録
      %li
        =link_to "#", class: "header__wrapper__user-status--sign" do
          ログイン